$title-font-family: "DM Sans", sans-serif;
$body-font-family: "Source Sans Pro", sans-serif;
$background-color: #151728;
$border-color: #272a3a;
$side-title-color: #5c5e6e;
$button-color: #8f98a9;
$placeholder-color: #5c5d71;
$side-width: 280px